<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="todoCtrl">
        <form>
            Task : <input type="text" ng-model="input">
            <button ng-click="addTask()">Add</button>
        </form>

        <ul>
            <li ng-repeat="todo in todos">
                <p>{{todo.task}} </p>
                <p>{{todo.notdone}} </p>
                <div ng-click="removeTask($index)"></div>
                <div class="done" ng-show="todo.notdone" ng-click="taskDone($index)"></div>
            </li>
        </ul>

    </body>
</html>