.state {
    padding: 0;
    list-style: none;
}

.state__all {
    overflow: hidden;
}

.state__all--done {
    float: left;
    height: 24px;
    width: 24px;
    margin-left: 5px;
    background-image: url('images/done.jpg');
    cursor: pointer;
}

.state__all--remove {
    float: left;
    height: 24px;
    width: 24px;
    margin-left: 5px;
    background-image: url('images/button.jpg');
    cursor: pointer;
}

.state__all--task {
    padding-top: 2px;
    float: left;
}

.state__done {
    overflow: hidden;
}

.state__done--task {
    padding-top: 2px;
    float: left;
}

.state__archive {
    overflow: hidden;
}

.state__archive--task {
    padding-top: 2px;
    float: left;
}

.strike {
    text-decoration: line-through;
}

.buttons { }

.buttons__button1 { }

.buttons__button2 { }

.buttons__button3 { }