.remove {
    height: 24px;
    width: 24px;
    margin-left: 5px;
    background-image: url('images/button.jpg');
    cursor: pointer;
}

.done {
    height: 24px;
    width: 24px;
    margin-left: 5px;
    background-image: url('images/done.jpg');
    cursor: pointer;
}

.task {
    padding-top: 2px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    overflow: hidden;
}

li div {
    float: left;
}

.strike {
    text-decoration: line-through;
}

.block {}

.block__all {
    background-color: darkorange;
}

.block__done {
    background-color: lime;
}

.block__archive {
    background-color:slategrey;
}