.state {
    margin-top: 10px;
    width: 310px;
    padding: 0;
    list-style: none;
}

.state__all {
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}
.state__all:last-child {
    border-bottom: none;
}

.state__all--donebutton {
    cursor: pointer;
}

.state__all--removebutton {
    cursor: pointer;
}

.state__all--tasktext {
    padding-top: 2px;
    float: left;
}

.state__done {
    overflow: hidden;
}

.state__done--task {
    padding-top: 2px;
    float: left;
}

.state__archive {
    overflow: hidden;
}

.state__archive--task {
    padding-top: 2px;
    float: left;
}

.strike {
    text-decoration: line-through;
}

.buttons { }

.buttons__button1 { }

.buttons__button2 { }

.buttons__button3 { }

.app-container {
    width: 410px;
    margin: 10px auto;
}

.task-input-form {
    margin-top: 10px;
}

.task-input-form .task-input {
    width: 310px;
}

.task-submit-btn {
    float: right;
}

.icon-container {
    padding-top: 5px;
    float: right;
}

.controls-container {
    padding: 5px 5px 5px 5px;
}

.app-title {
    font-size: 30px;
}

.task-container {
    margin-top: 10px;
    width: 310px;
    padding: 0;
    list-style: none;
}

.task-button-container {
    padding-top: 5px;
    float: right;
}

.task-button-complete {
    cursor: pointer;
}

.task-button-delete {
    cursor: pointer;
}

.task {
    overflow: hidden;
}

.task-text {
    float: left;
}

.task-text__done{
    text-decoration: line-through;
}