<form>
    Task: <input type="text" ng-model="$ctrl.input">
    <button ng-click="$ctrl.addTask()">Add</button>
</form>
<ul>
    <li ng-repeat="todo in $ctrl.todos">
        <div class="task" ng-class="{strike: todo.done}">{{todo.task}}</div>
        <div class="remove" ng-click="$ctrl.removeTask($index)"></div>
        <div class="done" ng-show="!todo.done" ng-click="$ctrl.taskDone($index)"></div>
    </li>
</ul>
<form>
    <button ng-click="$ctrl.revealAll()">All</button>
    <button ng-click="$ctrl.revealDone()">Done</button>
    <button ng-click="$ctrl.revealArchive()">Archive</button>
</form>
<br>
<div class="block" ng-repeat="state in $ctrl.states">
    <div class="block__elem1" ng-if = "state.all">
        All tasks:
        <ul>
           <li ng-repeat="todo in $ctrl.todos">
               <div class="task">{{todo.task}}</div>
           </li>
        </ul>
    </div>
    <div class="block__elem2" ng-if = "state.done">
        Done tasks:
        <ul>
            <li ng-repeat="todo in $ctrl.donetasks">
                <div class="task">{{todo.task}}</div>
            </li>
        </ul>
    </div>
    <div class="block__elem3" ng-if = "state.archive">
        Archive:
        <ul>
            <li ng-repeat="todo in $ctrl.archive">
                <div class="task">{{todo.task}}</div>
            </li>
        </ul>
    </div>
</div>