.task {
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  &-text {
    width: 80%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &-text__done {
    text-decoration: line-through;
  }
  &-button {
    &-container {
      padding-top: 2px;
      padding-left: 5px;
      float: right;
      width: 20%;
    }
    &-complete {
      cursor: pointer;
    }
    &-edit {
      cursor: pointer;
    }
    &-delete {
      cursor: pointer;
    }
  }
}
todo-task {
  &:last-child {
    .task {
      border-bottom: none;
    }
  }
}
