<div class="app-container panel panel-default">
    <div class="panel-heading">
        <div class="app-title">TO-DO App</div>
    </div>
    <div class="controls-container">
        <form class="form-inline task-input-form">
            <input class="form-control task-input" ng-model="$ctrl.input">
            <button type="submit" class="btn btn-primary task-submit-btn" ng-click="$ctrl.addTask()">Add Task</button>
        </form>
        <ul class="task-container">
            <todo-task ng-repeat="task in $ctrl.tasks | taskStatusFilter:$ctrl.state track by $index" task="task" container-state="$ctrl.state" on-update="$ctrl.editTask(task, property, value)"></todo-task>
        </ul>
        <div class="buttons">
            <button type="button" class="btn btn-default" ng-click="$ctrl.revealAll()">All</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.revealDone()">Done</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.revealArchive()">Archive</button>
        </div>
    </div>
</div>