<form class="taskinput">
    Task: <input class="taskinput__text" type="text" ng-model="$ctrl.input">
    <button class="taskinput__addbutton" ng-click="$ctrl.addTask()">Add</button>
</form>
<ul class="state" ng-repeat="state in $ctrl.states">
    <li ng-if="state.default || state.all" class="state__all" ng-repeat="todo in $ctrl.todos track by $index">
        <div class="state__all--task" ng-class="{strike: todo.done}">{{todo.task}}</div>
        <div class="state__all--remove" ng-click="$ctrl.removeTask($index)"></div>
        <div class="state__all--done" ng-show="!todo.done" ng-click="$ctrl.markAsDone($index)"></div>
    </li>
    <li ng-if="state.done" class="state__done" ng-repeat="todo in $ctrl.donetasks track by $index">
        <div class="state__done--task">{{todo.task}}</div>
    </li>
    <li ng-if="state.archive" class="state__archive" ng-repeat="todo in $ctrl.archive track by $index">
        <div class="state__archive--task">{{todo.task}}</div>
    </li>
</ul>
<form class="buttons">
    <button class="buttons__all" ng-click="$ctrl.revealAll()">All</button>
    <button class="buttons__done" ng-click="$ctrl.revealDone()">Done</button>
    <button class="buttons__archive" ng-click="$ctrl.revealArchive()">Archive</button>
</form>
