<li class="task">
    <div class="task-text" ng-if="!$ctrl.editMode || ($ctrl.editMode && $ctrl.containerState !== 'all')"  ng-class="{'task-text__done': $ctrl.internalTask.status === 'done' && $ctrl.containerState ==='all'}">{{$ctrl.internalTask.text}}</div>
    <div class="task-text" ng-if="$ctrl.editMode && $ctrl.containerState === 'all'">
        <input class="form-control input-sm task-edit-input" ng-model="$ctrl.internalTask.text" ng-model-options="{debounce: 500}" ng-blur="$ctrl.shutDownEdit($ctrl.internalTask)" ng-change="$ctrl.editText()">
    </div>
    <div class="task-button-container" ng-show="$ctrl.containerState === 'all'">
        <div class="task-button-delete glyphicon glyphicon-remove" ng-click="$ctrl.remove($ctrl.internalTask)"></div>
        <div class="task-button-complete glyphicon glyphicon-ok" ng-show="$ctrl.internalTask.status !== 'done'" ng-click="$ctrl.markAsDone()"></div>
        <div class="task-button-edit glyphicon glyphicon-pencil" ng-click="$ctrl.startEdit()" ng-show="$ctrl.containerState === 'all'"></div>
    </div>
</li>