.app {
  &-container {
    width: 410px;
    margin: 10px auto;
  }
  &-title {
    font-size: 30px;
  }
}
.controls-container {
  padding: 5px 5px 5px 5px;
}
.task {
  &-container {
    margin-top: 10px;
    width: 310px;
    padding: 0;
    list-style: none;
  }
  &-submit-btn {
    float: right;
  }
}

.task-input-form {
  margin-top: 10px;
  .task-input {
    width: 310px;
  }
}