.app-container {
    width: 410px;
    margin: 10px auto;
}

.task-input-form {
    margin-top: 10px;
}

.task-input-form .task-input {
    width: 310px;
}

.task-submit-btn {
    float: right;
}

.controls-container {
    padding: 5px 5px 5px 5px;
}

.app-title {
    font-size: 30px;
}

.task-container {
    margin-top: 10px;
    width: 310px;
    padding: 0;
    list-style: none;
}